.welc {
  background-color: rgba(130, 180, 180, 0.856);
  padding: 5px;
  text-align: center;
}

#webself, .p-jour {
  background-color: antiquewhite;
  padding: 5px;
  margin: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

ul {
  list-style: none;
}

.p-jour {
  background-color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  margin: 10px;
  padding: 10px;
  width: 500px;
}
.addgit {
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px;
  width: 500px ;
}

.btn{
  border: solid 1px wheat  ;
  margin: 0px;
  padding: 5px ;
  transform-style:preserve-3d;
  box-sizing: border-box;
  position: relative;
  min-width: 100px;
  cursor: pointer;
  transition: 0.5s;
}

.face::before {
  background: rgb(14, 106, 211);
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}
.face::after {
  background: rgb(14, 106, 211);
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}

.face:hover::before, 
.face:hover::after {
  height: 100%;

}


.insta::before {
  background:rgb(168, 37, 114);
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}
.insta::after {
  background:rgb(168, 37, 114);
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}

.insta:hover::before, 
.insta:hover::after {
  height: 100%;

}
.tweat::before {
  background: aqua;
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}
.tweat::after {
  background:aqua;
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  z-index: -1;
}

.tweat:hover::before, 
.tweat:hover::after {
  height: 100%;

}


